
<!-- We can update the data base using the post request mehtod, we do not need to have update put or patch separately -->
<form action="/reset" method="POST">
    <h2><%=title%></h2>
    <h4>Old Password</h4>
    <input type="text" name="oldpassword" placeholder="Enter old Password." required>

    <h4>New Password</h4>
    <input type="password" name="password" placeholder="Enter New Password." required>

    <h4>Confirm New Password</h4>
    <input type="password" name="confirmpassword" placeholder="Confirm New Password." required>
    <div>
        <button type="submit" >
            Submit
        </button>
    </div>
</form>

