<form action="/create-session" method="POST">
    <h2><%=title%></h2>
    <h4>Email</h4>
    <input type="text" name="email" placeholder="Please enter your Email." required>

    <h4>Password</h4>
    <input type="text" name="password" placeholder="Please enter your Password." required>
    <div>
        <button type="submit" >
            Submit
        </button>
    </div>
</form>


<p>
    <a href="user/auth/google">Sign In using Google</a>
</p>